:root {
    --box-shadow: 0px 1px 4px 1px rgba(199,199,199,1);
    --income: green;
    --expense: red;
}

body {
    font-family: 'Rubik', 'sans-serfi';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app h1 {
    text-align: center;
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.balance-container #balance {
    font-size: 1.5em;
}

.cashflow-container {
    display: flex;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

.income-container {
    border-right: 1px solid #cccccc;
    padding-right: 20px;
}

.expense-container {
    padding-left: 20px;
}

#income, #expense, #monthlyincome, #monthlyexpense {
    font-size: 1.3em;
}

#income {
    color: var(--income);
    text-align: right;
}

#expense {
    color: var(--expense);
}

#monthlyincome {
    color: var(--income);
    text-align: right;
    margin: auto;
}

#monthlyexpense {
    color: var(--expense);
    text-align: left;
    margin: auto;
}

.transaction-container {
    margin-top: 40px;
}

#transaction {
    list-style: none;
    margin: 0;
    padding: 0;
}

#transaction li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow);
}

#transaction li span {
    display: inline-block;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
}

#transaction li .income-amt {
    background-color: var(--income);
}

#transaction li .expense-amt {
    background-color: var(--expense);
}

#transaction li button {
    padding: 5px 10px 5px 10px;
}

.form-container {
    margin-top: 40px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form label {
    padding-bottom: 10px;
}

.form-container form input {
    height: 25px;
    margin-bottom: 10px;
}

.form-container form button {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
}

.fa-close {
    background-color: rgb(211, 35, 35);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
  
.fa-close:hover {
    background-color: rgb(112, 71, 66);
}

#incomeBtn {
    background-color: var(--income);
}

#expenseBtn {
    background-color: var(--expense);
}
